#header { 
    background-color: #212427;
    font-family: "Roboto Slab", arial, sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to bottom,#292c2f 0,#191c1f 100%);
}

#logo {
    margin-left: 20px;
    font-size: xx-large;
    text-decoration: none;
    color: aliceblue;
}